doctype html
html
  head
    meta(charset='UTF-8')
    title jadeで!
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript' src='../node_modules/vue/dist/vue.min.js')
    script(type='text/javascript' src='../node_modules/jquery/dist/jquery.min.js')
    
  body
    .local-weather
      h1 {{title}}
      p {{date}}
      p {{description}}
    .app  
      h1 一覧
      ul
        li(v-repeat='item in areaList', v-on='click: onClick(item)')
          | {{item.area}}
    script(type='text/javascript' src='./index.js')
    script(type='text/javascript' src='./weather.js')
