doctype html
html
  head
    meta(charset='UTF-8')
    title jadeで!
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript' src='../node_modules/vue/dist/vue.min.js')
  body
    #app
      h1 {{hello}}
    script(type='text/javascript' src='./index.js')
